<section class="thirteen columns">
    <articleh>
        <img style="float:left" src="/assets/images/tomas_pic.jpg" alt="Me">
        <pre style="padding-top: 25px">
            <span>Name: <strong>Tomás</strong> Pires de Carvalho <strong>Gomes</strong></span>
            <span>Nationality: Portuguese</span>
            <span>Contacts:</span> 
            <ul>
            <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <li>Twitter: <a href="https://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a></li></ul>
            <div style="clear: both;"></div>
            <span style="float:left">Publications: see the <a href="/pub/">Publications page</a></span>
            <span style="float:left">Download a short version of the CV <a href="/assets/downloads/cvshort.pdf">here</a></span>
        </pre>
    </articleh>
</section>
