<section class="thirteen columns">
    <articleh>
        <img style="float:left" src="/assets/images/tomas_pic.jpg" alt="Me">
        <pre style="padding-top: 20px">
        Name: <strong>Tomás</strong> Pires de Carvalho <strong>Gomes</strong>
        Nationality: Portuguese
        Contacts:
        </pre>
        <ul>
        <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li><br />
        <li>Twitter: <a href="https://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a></li></ul>
        <pre style="padding-top: 25px; float: left">
Publications: see the <a href="/pub/">Publications page</a>
Download a short version of the CV <a href="/assets/downloads/cvshort.pdf">here</a>
        </pre>
    </articleh>
</section>
