<section>
    <h1><strong>Education</strong></h1>
    <article>
    <header>
        <h2 class="alignleft"><u>PhD in Biological Sciences</u></h2>
        <p class="alignright"><time>Jan 2016 - Current</time></p>
        <div style="clear: both;"></div>
        <span><a href="http://www.sanger.ac.uk/">Wellcome Sanger Institute</a>, funded by the <a href="http://www.enlight-ten.eu/">ENLIGHT-TEN</a> Marie Skłodowska-Curie programme</span><br />
        <span><a href="https://www.cam.ac.uk/">University of Cambridge</a> (<a href="http://www.kings.cam.ac.uk/">King's College</a>)<address>(Cambridge, United Kingdom)</address></span>
    </header>
    <pre>Thesis: <em>TBA</em>
Supervision: <a href="http://www.teichlab.org/">Sarah A Teichmann</a></pre>
    </article>
    <article>
        <header>
            <h2 class="alignleft"><u>MSc in Bioinformatics and Computational Biology</u></h2>
            <p class="alignright"><time>Sep 2012 - Dec 2014</time></p>
            <div style="clear: both;"></div>
            <span><a href="https://ciencias.ulisboa.pt/">Faculty of Science, University of Lisbon</a> and <a href="https://imm.medicina.ulisboa.pt/pt/">iMM Lisboa</a></span>
            <span><address>(Lisbon, Portugal)</address></span>
        </header>
        <pre>Thesis: <em>Genome-wide profiling of RNA polymerase II and associated co-transcriptional
           processes using advanced NET-seq data</em>
Supervision: <a href="https://scholar.google.com/citations?user=VDz5NooAAAAJ&hl=en">Ana Rita Grosso</a> and <a href="https://imm.medicina.ulisboa.pt/pt/investigacao/laboratorios/carmo-fonseca-maria-lab/">Maria Carmo-Fonseca</a>
Grade Point Average: <strong>19/20</strong></pre>
    </article>
    <article>
        <header">
            <h2 class="alignleft"><u>BSc in Biology, Minor in Molecular Biology and Genetics</u></h2>
            <p class="alignright"><time>Sep 2009 - Sep 2012</time></span></p>
            <div style="clear: both;"></div>
            <span><a href="https://ciencias.ulisboa.pt/">Faculty of Science, University of Lisbon</a></span>
            <span><address>(Lisbon, Portugal)</address></span>
        </header>
        <p>Grade Point Average: <strong>18/20</strong></p>
    </article>
</section>
