<section class="thirteen columns">
    <h1><strong>Employment</strong></h1>
    <article>
        <header>
            <h2 class="alignleft"><u>Research Assistant</u></h2>
            <p class="alignright"><time>Oct 2015 - Jan 2016</time></p>
            <div style="clear: both;"></div>
            <span><a href="http://www.sanger.ac.uk/">Wellcome Sanger Institute</a><address>(Cambridge, United Kingdom)</address></span><br />
        </header>
        <pre>
I held a 3 month position at <a href="http://www.teichlab.org/">Sarah Teichmann</a>'s lab, where I performed computational work
analysing (single-cell) RNA-seq and ATAC-seq datasets.
        </pre>
    </article>
    <article>
        <header>
            <h2 class="alignleft"><u>Research Assistant</u></h2>
            <p class="alignright"><time>Sep 2014 - Oct 2015</time></p>
            <div style="clear: both;"></div>
            <span><a href="https://imm.medicina.ulisboa.pt/">iMM Lisboa</a><address>(Lisbon, Portugal)</address></span><br />
        </header>
        <pre>
During the year I spent at Maria Carmo-Fonseca's lab, I did computational analysis on 
mNET-seq data (mapping RNAPII positioning during transcription), and analysed 
RNA-seq from various subcellular fractions for different splicing patterns.
        </pre>
    </article>
</section>
