<section class="thirteen columns">
    <h1><strong>Initiatives</strong></h1>
    <article>
        <header>
            <h2 class="alignleft"><u>Roller Hockey player</u></h2>
            <div style="clear: both;"></div>
            <span>at <a href="https://www.facebook.com/osgas/">Parede Football Clube</a> <address> (Cascais, Portugal)</address>: <time>~1995 - 2010</time></span>
        </header>
        <div style="clear: both;"></div>
        <pre>
(Quad) Roller Hockey is a very popular sport in Portugal (and other Mediterranean and South American countries). This is a very fast sport with
intense team spirit and involving quick decision-making.
        </pre>
    </article>
    <article>
        <header>
            <h2 class="alignleft"><u>Executive Committee of the Cambrige University Portuguese Speakers' Society</u></h2>
            <div style="clear: both;"></div>
            <span>As Tresurer: <time>Jan 2016 - Jan 2017</time></span><br />
            <span>As President: <time>Jan 2017 - Jan 2018</time></span>
        </header>
        <div style="clear: both;"></div>
        <pre>
<a href="http://www.cuportss.org/">CUPortSS</a> <a href="https://www.facebook.com/cuportss/">(facebook)</a> focuses on promoting the culture and language of portuguese speaking countries.<br />
My involvement in the society included budgeting, event organisation and team managing.
        </pre>
    </article>
    <article>
        <header>
            <h2 class="alignleft"><u>Conference Assistant</u></h2>
            <div style="clear: both;"></div>
            <span><a href="https://www.keystonesymposia.org/17E3">Keystone Single Cell Omics Conference, </a> <address> (Stockholm, Sweden)</address>: <time>May 2017</time></span><br />
            <span><a href="https://www.escamps.org/escamps16/">eSCAMPS 2017, </a> <address> (Cambridge, United Kingdom)</address>: <time>Feb 2017</time></span><br />
            <span><a href="http://www.eseb2013.com/">XIV Congress of the European Society for Evolutionary Biology, </a> <address> (Lisbon, Portugal)</address>: <time>Aug 2013</time></span>
        </header>
        <div style="clear: both;"></div>
        <pre>
I have assisted on the organisation of conferences of different sizes an topics, gaining a broad understanding 
about the challenges and tasks that underlie a successful meeting.
        </pre>
    </article>
    <article>
        <header>
            <h2 class="alignleft"><u>Summer Student</u></h2>
            <div style="clear: both;"></div>
            <span>Plant Molecular Ecophysiology lab, <a href="http://www.itqb.unl.pt/">ITQB</a> <address> (Oeiras, Portugal)</address>: <time>Jun - Aug 2010</time></span>
        </header>
        <div style="clear: both;"></div>
        <pre>
I worked as a summer student in the response of grapevine phenotypes to drought stress. This consisted on daily measurements 
of leaf gas exchanges and water potential, as well as preparing leaf samples to obtain various molecular measurements. This 
work contributed to <a href="{{ site.url }}/assets/download/poster_PMEP.pdf">this poster</a>.
        </pre>
    </article>
</section>
