<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}
    <link href='https://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script> <!-- include those star objects, check https://fontawesome.com/get-started-->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/site.webmanifest">
    <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header"><a class="header" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>
        <h2 class="header">{{ site.site_author }}</h2>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>

            <div class="footer-col-wrapper">
              <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li><i class="fas fa-envelope", style="padding-right: 10px;"></i><a class="u-email" href="mailto:{{ site.email }}">E-mail</a></li>
                    <li><a class="buttons twitter" href="https://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a></li>
                    <li><a class="buttons github" href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a></li>
                    <li><a class="buttons lkd" href="https://www.linkedin.com/in/{{ site.lkd_username }}">LinkedIn page</a></li>

                </ul>
              </div>
            </div>

              <div class="wrapper">
                {% assign default_paths = site.pages | map: "path" %}
                {% assign page_paths = site.header_pages | default: default_paths %}

                {% if page_paths %}
                  <nav class="site-nav">
                    <div class="trigger">
                      {% for path in page_paths %}
                        {% assign my_page = site.pages | where: "path", path | first %}
                        {% if my_page.title %}
                        <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                        <br />
                        {% endif %}
                      {% endfor %}
                    </div>
                  </nav>
                {% endif %}
              </div>

      </header>

    <section>
        {{ content }}
    </section>
      
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
