---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">


  <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
  <a style="float: right" href="http://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" target="_blank" class="share-btn facebook">
    <i class="fab fa-facebook"></i>
  </a>
  <a style="float: right" href="http://twitter.com/share?url={{site.url}}{{page.url}}&text={{ page.title | escape }}&via=tomsgoms" target="_blank" class="share-btn twitter">
    <i class="fab fa-twitter"></i>
  </a>
  <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    {{ page.date | date: date_format }}
  </time>
  <br />
  <br />
  <br />
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>